<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if IE 10]> <html class="ie10" lang="en"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]> <html lang="en"> <![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.png">

    <title><%= current_page.data.title || "Tarka Labs" %></title>

    <!-- Bootstrap core CSS -->
    <%=stylesheet_link_tag "bootstrap.css"%>
    <%=stylesheet_link_tag "theme-blue.css"%>

    <!-- Custom styles for this template -->
    <%=stylesheet_link_tag "magnific-popup.css"%>

    <!-- Font Awesome -->
    <%=stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"%>

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="preloader">
       <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
    </div>


    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper cbp-af-header">
      <div class="container">

        <!-- Fixed navbar -->
        <div class="navbar cbp-af-inner" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <h1><a class="navbar-brand scroll" href="#intro">Tarka Labs</a></h1>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav pull-right">
                <li><a href="#about">About</a></li>
                <li class="hidden-sm"><a href="#team">Team</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="http://blog.tarkalabs.com/" class="external" target="_blank">Blog</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <%= yield %>

    <!-- Footer
    ================================================== -->
    <footer id="contact" class="footer">

      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-sm-4 col-md-4">
              <h3>Product</h3>
              <ul class="list-unstyled">
                <li><a href="http://kreeda.io">Kreeda</a></li>
              </ul>
            </div>
            <div class="col-sm-4 col-md-4">
              <h3>Company</h3>
              <ul class="list-unstyled">
                <li><a href="#about">About Us</a></li>
                <li><a href="#team">Our Team</a></li>
              </ul>
            </div>
            <div class="col-sm-4 col-md-4">
              <div class="footer-logo">
                <h2>Tarka Labs</h2>
                <p># A1/1, 49th Street, 7th Avenue, Ashok Nagar, Chennai, TN, India, 600083</p>
                <br>
                <p class="muted">A division of <a href="http://www.sedintechnologies.com/" target="_blank"/>Sedin Technologies</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <a class="icon" href="http://www.twitter.com/tarkalabs" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="icon" href="https://www.facebook.com/tarkalabs" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="icon" href="http://github.com/tarkalabs" target="_blank"><i class="fa fa-github"></i></a>
          </div>
        </div>
      </div>

    </footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%=javascript_include_tag "all.js"%>

    <script>

      $(document).ready(function(){
        isotope();
      });

    </script>

  </body>
</html>
